@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.main-cont {
    background: #f2f2f2;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.desc-header {
    width: 100%;
    height: auto;
    text-align: center;  
}

.desc-header img {
    width: 90%;
}

.desc-header p {
    font-size: 2em;
    color: #336666;
}

.cont-header {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cont-header h1 {
    color: #336666;
}

.cont-header form {
    width: 350px;
    height: auto;
    border: 1px solid #336666;
    padding: 1em;
    margin: 2em;
    border-radius: 1em;
}

.cont-header form .label {
    display: block;
    padding: 10px;
}

.cont-header input {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

#loginUsuario, #loginProfesor {
    display: block;
    width: 100%;
    padding: .7em;
    border: none;
    border-radius: 8px;
    background: #153744;
    color: #fff;
    cursor: pointer;
}

.app-sidebar__user-avatar {
    width: 48px;
    padding: 6px;
    background: #fff;
}

.app .app-sidebar, .app .app-nav, .app .app-header {
    background: #002126 !important;
}

.app-sidebar__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-sidebar__toggle::before {
    display: none;
}